<div class="d-flex justify-content-center">
<h2> Edit account </h2>
</div>
<% if @user.errors.any? %>
<h2> The following errors occured:- </h2>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
  <%end%>
</ul>
<%end%>
<br>
<div class="d-flex justify-content-center">
<%= image_tag(@user.image,:size => "150x150", class: "rounded-circle") %>
</div>

<%= form_for @user do |f| %>
  <div class="form-group">
    <div>
      <%= f.label :username,"Username" , class: "p-1"%> <br>
      <%= f.text_field :username, placeholder: "Username..",class: "form-control" %>
    </div> <br>
    <div>
      <%= f.label :fullname,"Full name",class: "p-1" %> <br>
      <%= f.text_field :fullname, placeholder: "Your name..", class: "form-control" %>
    </div> <br>
    <div>
      <%= f.label :email,"Email",class: "p-1" %> <br>
      <%= f.email_field :email, placeholder: "email..", class: "form-control" %>
    </div> <br>
    <div>
      <%= f.label :country,"Country",class: "p-1" %> <br>
      <%= f.collection_select  :country,Country.order(:name),:id,:name,include_blank: true%>
    </div> <br>
    <div>
      <%= f.label :image,class: "p-1" %> <br>
      <%= f.file_field  :image%>
    </div>
  </div>
  <br>
  <%= f.submit "Edit account", class: "btn btn-lg ", style: "background-color: #e83c3c;color: white;" %>
<%end%>
