<br>
<div class="d-flex justify-content-center">
<%= image_tag(@user.image,:size => "150x150", class: "rounded-circle") %>
</div>
<div class="form-group">
    <div>
      <label class = "p-1"> Username </label><br>
      <div class="card">
        <div class="card-body">
          <%= @user.username %>
        </div>
      </div>
    </div> <br>
    <div>
      <label class = "p-1"> Full name </label><br>
      <div class="card">
        <div class="card-body">
          <%= @user.fullname %>
        </div>
      </div>
    </div> <br>
    <div>
      <label class = "p-1"> Email </label><br>
      <div class="card">
        <div class="card-body">
          <%= @user.email %>
        </div>
      </div>
    </div> <br>
    <div>
      <label class = "p-1"> Country </label><br>
      <div class="card">
        <div class="card-body">
          <%= Country.find(@user.country).name%>
        </div>
      </div>
    </div>
</div>
<br> <br>
<div class="d-flex justify-content-center">
  <% if current_user.id == @user.id %>
  <%= link_to "Delete account", user_path(@user),method: :delete,class:"btn btn-dark" %> &nbsp;&nbsp;
  <%= link_to "Edit account", edit_user_path(@user),class:"btn btn-dark" %>
  <%end%>
</div>
