<% if @submissions.count!=0 %>
<div class = "d-flex justify-content-center">
  <h2> your submissions:-  </h2>
</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">codeID</th>
        <th scope="col">User</th>
        <th scope="col">status</th>
        <th scope="col">output</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td scope="col"> <%= submission.id %> </td>
          <td> <%= submission.code_id %> </td>
          <td> <%= current_user.fullname %> </td>
          <td> <%= submission.status %> </td>
          <td> <%= submission.output %> </td>
        </tr>
      <%end%>
    </tbody>
  </table>
<%else%>
  <div class = "d-flex justify-content-center">
    <h2> You dont have any submissions created </h2>
  </div>
<%end%>
<div class = "d-flex justify-content-center">
  <%= link_to "create new submission", new_submission_path(),class:"btn btn-dark" %>
</div>
